<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="WECHAT_CORP_ID" value="wx1823bf96d3bd56c7"/>
        <env name="WECHAT_AGENT_ID" value="1"/>
        <env name="WECHAT_AGENT_TOKEN" value="QDG6eK"/>
        <env name="WECHAT_AGENT_AES" value="jWmYm7qr5nMoAUwZRjGtBxmz3KA1tkAj3ykkR6q2B2C"/>
    </php>
</phpunit>
